* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: 'inter';
  src: url('../font/inter-regular-webfont.woff2') format('woff2'),
      url('../font/inter-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'inter';
  src: url('../font/inter-medium-webfont.woff2') format('woff2'),
      url('../font/inter-medium-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'inter';
  src: url('../font/inter-semibold-webfont.woff2') format('woff2'),
      url('../font/inter-semibold-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'inter';
  src: url('../font/inter-bold-webfont.woff2') format('woff2'),
      url('../font/inter-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

:root {
  --blue: #1A73E8;
}

body {
  font-family: 'poppins';
}

textarea {
  resize: none;
}

.focus-none:focus {
  box-shadow: none;
  outline: none;
}

.main {
  height: calc(100dvh -131px);
  display: flex;
}

.left {
  height: calc(100dvh -131px);
  width: 250px;
  z-index: 9999;
  border-right: 1px solid #E9EAEB;
  border-top: 1px solid #E9EAEB;
}

.logodiv {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.left-mid {
  height: calc(100dvh - 200px);
  padding: 10px;
}

.list {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}

.list ul {
  list-style: none;
  padding: 0;
}

.list>ul>li {
  justify-content: center;
  color: #fff;
}

.sidelink {
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  color: #535862;
}

.sidelink.active {
  background-color: #E7F4FB;
  border-radius: 5px;
  color: #0F91D2;
}

.sidelink.active svg {
  color: #0F91D2 !important;
}

.right {
  width: calc(100% - 250px);
  height: calc(100dvh - 134px);
  padding: 10px;
}

.userimg {
  width: 40px;
  height: 40px;
  margin: 0 10px;
}

.right-bottom {
  height: 100%;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 50px;
  margin: 3px 0;
}

::-webkit-scrollbar-thumb {
  background:#b9b3b3;
  border-radius: 50px;
}

.filter-nav::-webkit-scrollbar {
  width: 0;
  height: 0;
}

input[type="number"].hide-number::-webkit-outer-spin-button,
input[type="number"].hide-number::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media screen and (min-width:769px) {
  .left {
    display: block !important;
  }
}

@media screen and (max-width:768px) {
  .main {
    position: relative;
  }

  .left {
    position: absolute;
  }

  .right {
    width: 100% !important;
  }

}